/*CABEÇALHO*/
body {
    padding-top: 90px; /* Ajuste a altura do cabeçalho conforme necessário */
    margin: 0;
    background-color: red;
    margin: 0;
    padding: 0;
    opacity: 0.5;
}

.navbar {
    background-color: #3498db; /* Cor de fundo do cabeçalho */
}

.navbar-brand {
    color: #ffffff; /* Cor do texto do logotipo */
}

.navbar-nav .nav-link {
    color: #ffffff; /* Cor do texto do link na navegação */
}

.navbar-toggler-icon {
    background-color: #ffffff; /* Cor do ícone do botão de menu */
}












