/*CABEÇALHO*/
body {
    padding-top: 90px; /* Ajuste a altura do cabeçalho conforme necessário */
    margin: 12px;
    background-color: red;
    padding: 12px;
    opacity: 0.5;
    margin-right: 89px;
}

.navbar {
    background-color: #000910; /* Cor de fundo do cabeçalho */
}

.navbar-brand {
    color: #ffffff; /* Cor do texto do logotipo */
}

.navbar-nav .nav-link {
    color: #ffffff; /* Cor do texto do link na navegação */
}

.navbar-toggler-icon {
    background-color: #ffffff; /* Cor do ícone do botão de menu */
}












