/* Adicione seu próprio CSS para personalização */
body {
    padding-top: 60px; /* Ajuste a altura do cabeçalho conforme necessário */
}

.navbar {
    background-color: #3498db; /* Cor de fundo do cabeçalho */
}

.navbar-brand {
    color: #ffffff; /* Cor do texto do logotipo */
}

.navbar-nav .nav-link {
    color: #ffffff; /* Cor do texto do link na navegação */
}

.navbar-toggler-icon {
    background-color: #ffffff; /* Cor do ícone do botão de menu */
}
