
.container-fluid{
  height: 100vh;
  background-image: url(../IMG/img_pagCremora_fundo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;/*aqui ele cobre todo o espaço do baineer*/
 }


 /*TITULOS E PARAGRAFOS DO CORPO DO TEXTO.*/


  .container-fluid .titulo-cremora h1{
    
   font-size: 69px;
   padding-top: 100px;
   color: rgb(255, 255, 255);
   text-align:justify;
   align-items: start;
   margin: 38px;

 }


 .paragrafo-cremora h1{
   font-size: 38px;
   padding-top: 100px;
   color: rgb(255, 255, 255);
   text-align:justify;
   align-items: start;
   margin: 38px;

 }



.container{
  
}
